## Ejercicios de pair programming 23 enero: Encoding

En el pair programming de hoy usaremos el set de datos que guardastéis en el pair programming de normalización y estandarización.
Vuestro set de datos debería tener al menos una variable categórica, el objetivo del pair programming de hoy:

Hacer una códificación de la/las variables categóricas que tengáis en vuestro set de datos.

Recordad que lo primero que deberéis hacer es decidir su vuestras variables tienen o no orden, para que en función de esto uséis una aproximación u otra.

Guardad el dataframe, donde deberíais tener las variables estadandarizas, normalizadas y codificadas en un csv para usarlo en el próximo pairprogramming

In [41]:
# Importamos las librerias necesarias


# Tratamiento de datos
import pandas as pd

# Para la codificación de las variables numéricas
from sklearn.preprocessing import OneHotEncoder  # para realizar el One-Hot Encoding

# Para evitar que salgan los warnings en jupyter
import warnings
warnings.filterwarnings('ignore')

In [42]:
# Abrimos nuestro DataFrame
df = pd.read_csv("archive/anova.csv", index_col = 0)
df.head()

,region,happiness_rank,happiness_score,economy,family,health,freedom,trust,generosity,dystopia_residual
country,,,,,,,,,,
Switzerland,Western Europe,-0.993631,7.587,0.667797,1.184471,0.817892,1.142818,2.674027,0.488939,0.450617
Iceland,Western Europe,-0.980892,7.561,0.519256,1.336192,0.835310,0.976182,0.301121,1.360830,0.722398
Denmark,Western Europe,-0.968153,7.527,0.555780,1.216329,0.636395,1.069507,3.217869,0.767717,0.413316
Norway,Western Europe,-0.955414,7.522,0.766346,1.131058,0.665118,1.161655,2.207255,0.802712,0.373969
Canada,North America,-0.942675,7.427,0.557057,1.107057,0.720608,0.995200,1.904941,1.497125,0.354023

Utilizaremos nuestra variable 'region', la cual es nominal, puesto que no tiene orden.

In [43]:
df['region'].unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia'], dtype=object)

Podriamos utilizar tanto el método OneHotEncoder o el método get_dummies.

In [44]:
cat = df.select_dtypes(include="O")

In [45]:
# iniciamos el método de OneHot Encoder
oh = OneHotEncoder()

In [46]:
cat.region.unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia'], dtype=object)

In [47]:
# hacemos la codificación de los datos para la variable dada 
transformados = oh.fit_transform(cat[['region']])

In [48]:
# convertimos nuestro array con la codificación hecha en un dataframe, donde tendremos dos columnas, una para los "Yes" y otra para los "No"
oh_df = pd.DataFrame(transformados.toarray())
oh_df.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
4  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0

In [49]:
# el método get_feature_names nos va a dar el nombre de las columnas nuevas que se nos generarán
oh_df.columns = oh.get_feature_names()
oh_df.columns

Index(['x0_Australia and New Zealand', 'x0_Central and Eastern Europe',
       'x0_Eastern Asia', 'x0_Latin America and Caribbean',
       'x0_Middle East and Northern Africa', 'x0_North America',
       'x0_Southeastern Asia', 'x0_Southern Asia', 'x0_Sub-Saharan Africa',
       'x0_Western Europe'],
      dtype='object')

In [56]:
cat = cat.head().reset_index()

In [57]:
cat.columns

Index(['country', 'region'], dtype='object')

In [58]:
oh_df.head()

,x0_Australia and New Zealand,x0_Central and Eastern Europe,x0_Eastern Asia,x0_Latin America and Caribbean,x0_Middle East and Northern Africa,x0_North America,x0_Southeastern Asia,x0_Southern Asia,x0_Sub-Saharan Africa,x0_Western Europe
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [66]:
df = df.head().reset_index()

In [67]:
# concatenamos el dataframe original con el dataframe que acabamos de crear
final = pd.concat([df,oh_df],axis=1)

In [68]:
final.head()

,country,region,happiness_rank,happiness_score,economy,family,health,freedom,trust,generosity,...,x0_Australia and New Zealand,x0_Central and Eastern Europe,x0_Eastern Asia,x0_Latin America and Caribbean,x0_Middle East and Northern Africa,x0_North America,x0_Southeastern Asia,x0_Southern Asia,x0_Sub-Saharan Africa,x0_Western Europe
0,Switzerland,Western Europe,-0.993631,7.587,0.667797,1.184471,0.817892,1.142818,2.674027,0.488939,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Iceland,Western Europe,-0.980892,7.561,0.519256,1.336192,0.835310,0.976182,0.301121,1.360830,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,Denmark,Western Europe,-0.968153,7.527,0.555780,1.216329,0.636395,1.069507,3.217869,0.767717,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Norway,Western Europe,-0.955414,7.522,0.766346,1.131058,0.665118,1.161655,2.207255,0.802712,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,Canada,North America,-0.942675,7.427,0.557057,1.107057,0.720608,0.995200,1.904941,1.497125,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [69]:
df.to_csv('archive/encoding.csv', index=False)