# Lección 8: Encoding

### Ejercicios de pair programming 23 de enero.

En el pair programming de hoy usaremos el set de datos que guardastéis en el pair programming de normalización y estandarización.
Vuestro set de datos debería tener al menos una variable categórica, el objetivo del pair programming de hoy:

Hacer una códificación de la/las variables categóricas que tengáis en vuestro set de datos.

Recordad que lo primero que deberéis hacer es decidir su vuestras variables tienen o no orden, para que en función de esto uséis una aproximación u otra.

Guardad el dataframe, donde deberíais tener las variables estadandarizas, normalizadas y codificadas en un csv para usarlo en el próximo pairprogramming

In [2]:
# Importamos las librerias necesarias
import pandas as pd

from sklearn.preprocessing import OneHotEncoder  

import warnings
warnings.filterwarnings('ignore')

In [3]:
# abrimos nuestro DataFrame
df = pd.read_csv("archive/anova.csv", index_col = 0)
df.head()

,region,happiness_rank,happiness_score,economy,family,health,freedom,trust,generosity,dystopia_residual
country,,,,,,,,,,
Switzerland,Western Europe,-0.993631,7.587,0.667797,1.184471,0.817892,1.142818,2.674027,0.488939,0.450617
Iceland,Western Europe,-0.980892,7.561,0.519256,1.336192,0.835310,0.976182,0.301121,1.360830,0.722398
Denmark,Western Europe,-0.968153,7.527,0.555780,1.216329,0.636395,1.069507,3.217869,0.767717,0.413316
Norway,Western Europe,-0.955414,7.522,0.766346,1.131058,0.665118,1.161655,2.207255,0.802712,0.373969
Canada,North America,-0.942675,7.427,0.557057,1.107057,0.720608,0.995200,1.904941,1.497125,0.354023

In [4]:
df = df.reset_index()

In [5]:
df.drop('country', axis=1, inplace=True)

In [6]:
df.head(2)

,region,happiness_rank,happiness_score,economy,family,health,freedom,trust,generosity,dystopia_residual
0,Western Europe,-0.993631,7.587,0.667797,1.184471,0.817892,1.142818,2.674027,0.488939,0.450617
1,Western Europe,-0.980892,7.561,0.519256,1.336192,0.835310,0.976182,0.301121,1.360830,0.722398

Utilizaremos nuestra variable 'region', la cual es nominal, puesto que no tiene orden.

In [7]:
df['region'].unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia'], dtype=object)

Podriamos utilizar tanto el método OneHotEncoder o el método get_dummies.

In [8]:
df_steam_cat = df.select_dtypes(include="O")

In [9]:
df_steam_cat.head()

           region
0  Western Europe
1  Western Europe
2  Western Europe
3  Western Europe
4   North America

In [10]:
df_steam_cat.region.unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia'], dtype=object)

In [11]:
dummies = pd.get_dummies(df_steam_cat["region"], prefix_sep = "_", prefix = "region", dtype = int)
dummies.head(2)

,region_Australia and New Zealand,region_Central and Eastern Europe,region_Eastern Asia,region_Latin America and Caribbean,region_Middle East and Northern Africa,region_North America,region_Southeastern Asia,region_Southern Asia,region_Sub-Saharan Africa,region_Western Europe
0,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1

In [12]:
df_dummies = pd.concat([df_steam_cat, dummies], axis = 1)
df_dummies.head(2)

,region,region_Australia and New Zealand,region_Central and Eastern Europe,region_Eastern Asia,region_Latin America and Caribbean,region_Middle East and Northern Africa,region_North America,region_Southeastern Asia,region_Southern Asia,region_Sub-Saharan Africa,region_Western Europe
0,Western Europe,0,0,0,0,0,0,0,0,0,1
1,Western Europe,0,0,0,0,0,0,0,0,0,1

In [13]:
final = pd.concat([df,df_dummies],axis=1)

In [14]:
final.head(5)

,region,happiness_rank,happiness_score,economy,family,health,freedom,trust,generosity,dystopia_residual,...,region_Australia and New Zealand,region_Central and Eastern Europe,region_Eastern Asia,region_Latin America and Caribbean,region_Middle East and Northern Africa,region_North America,region_Southeastern Asia,region_Southern Asia,region_Sub-Saharan Africa,region_Western Europe
0,Western Europe,-0.993631,7.587,0.667797,1.184471,0.817892,1.142818,2.674027,0.488939,0.450617,...,0,0,0,0,0,0,0,0,0,1
1,Western Europe,-0.980892,7.561,0.519256,1.336192,0.835310,0.976182,0.301121,1.360830,0.722398,...,0,0,0,0,0,0,0,0,0,1
2,Western Europe,-0.968153,7.527,0.555780,1.216329,0.636395,1.069507,3.217869,0.767717,0.413316,...,0,0,0,0,0,0,0,0,0,1
3,Western Europe,-0.955414,7.522,0.766346,1.131058,0.665118,1.161655,2.207255,0.802712,0.373969,...,0,0,0,0,0,0,0,0,0,1
4,North America,-0.942675,7.427,0.557057,1.107057,0.720608,0.995200,1.904941,1.497125,0.354023,...,0,0,0,0,0,1,0,0,0,0

In [15]:
df.drop('region', axis=1, inplace=True)

In [16]:
final.isnull().sum()

region                                    0
happiness_rank                            0
happiness_score                           0
economy                                   0
family                                    0
health                                    0
freedom                                   0
trust                                     0
generosity                                0
dystopia_residual                         0
region                                    0
region_Australia and New Zealand          0
region_Central and Eastern Europe         0
region_Eastern Asia                       0
region_Latin America and Caribbean        0
region_Middle East and Northern Africa    0
region_North America                      0
region_Southeastern Asia                  0
region_Southern Asia                      0
region_Sub-Saharan Africa                 0
region_Western Europe                     0
dtype: int64

In [17]:
final.to_csv('archive/encoding.csv', index=False)